body {
    background: #ffffff;
    color: #000080;
}

a:link {
    color: #800080;
}

a:visited {
    color: #ff0000;
}


h2 {
    text-align: center;
    /* font-size: 1.2rem;
    line-height: 1rem; */
}

h3 {
    text-align: center;
    /* font-size: 1.2rem;
    line-height: 1rem; */
}

table {
    margin: auto;
}

.header {
    text-align: center;
}

.content {
    text-align: center;
}

.download {
    text-align: center;
    font-size: 1.2rem;
    line-height: 0.4rem;
}

.big {
    font-size: 2.1rem;
}

.mideum {
    font-size: 1.3rem;
}

.small {
    font-size: 0.5rem;
}

.fine {
    font-size: 0.9rem;
}

.feedback {
    font-size: 0.8rem;
}

.disclaimer {
    font-size: 0.8rem;
}

.copyright {
    font-size: 0.8rem;
}